.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1 {
  margin: 10px 0px 40px;
}

.pet-emoji {
  font-size: 60px;
}
