.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  height: 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.authButton {
  display: flex;
  align-items: center;
}

.loginButton {
  padding: 8px 16px;
}

.loginButton:hover {
  background-color: #646cff;
  border-radius: 10px;
  color: white;
}
